.element__like {
    background-color: transparent;
    border: none;
    outline: none;

    width: 20px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.element__like:hover:active {
    opacity: 0.5;
}

