.popup__close {
    background-image: url('../../../images/close-icon.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    padding: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer; 
  }
  .popup__close:hover {
    opacity: 0.6;
  } 

 @media screen and (max-width: 978px) {
  .popup__close {
    top: -35px;
    right: 25px;
    
}
 }
