.popup__close {
    background-image: url('../../../images/close-icon.svg');
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    padding: 0;
    right: -50px;
    top: -50px;
    cursor: pointer; 
  }
  .popup__close:hover {
    opacity: 0.6;
  } */

  /* .popup__close {
    position: absolute;
    top: -40px;
    right: 0;
    /* width: 40px;
    height: 40px; */
    /* background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
} */ */

/* .popup__close:before, .popup__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 40px;
    width: 4px;
    background-color: #fff;
}

.popup__close:before {
    transform: rotate(45deg);
}
.popup__close:after {
    transform: rotate(-45deg);
} */

 @media screen and (max-width: 978px) {
  .popup__close {
    /* width: 40px;
    height: 40px;
    right: 0px; */
    top: -35px;
    right: 25px;
    
    }
   /* .popup__close:before, .popup__close:after {
    height: 26px;
   }  */
}
