.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    
}

@media screen and (min-width: 978px) {
    .form {
        margin: auto;
        margin-left: 36px;
        margin-right: 36px;
    }
}